<h1>List of photos</h1>

<hr>

<form action="/insert_photo">
  <label for= "query_image">Image</label>
  <input id= "query_image" name= "query_image" >

  <label for="query_caption">Caption</label>
  <textarea id= "query_caption" name="query_caption"></textarea>

  <label for= "query_owner_id">Owner ID</label>
  <input id = "query_owner_id" name= "query_owner_id">
  
  <button>Add photo</button>
</form>

<hr>


<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%= a_photo.image %>">
    </td>

    <td>
      <%= a_photo.caption%>
    </td>

    <td>
      <%= a_photo.poster.username%>    
    </td>

    <td>
      <%= a_photo.created_at%>    
    </td>

    <td>
      <a href="/photos/<%= a_photo.id%>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>